/AssetBundle
/HybridCLRData/AssembliesPostIl2CppStrip
/HybridCLRData/HotUpdateDlls
/HybridCLRData/LocalIl2CppData
/Test_BackUpThisFolder_ButDontShipItWithYourGame
/Library
/Logs
/obj
/.vs
/Temp
/AB
/BuildApp
/HybridCLRData/LocalIl2CppData-WindowsEditor
/Assets/GUI PRO Kit - Casual Game/PSD
/Assets/GUI PRO Kit - Casual Game/Scenes
/HybridCLRData/StrippedAOTDllsTempProj
/BuildApp_BurstDebugInformation_DoNotShip
